{% assign w = site.data.wedding %}
<section class="section section--footer" style="width:1366.000px;height:491.000px;background:#f8f3f0;">
  <div class="img-wrap jt-mark jt-mark-footer footer-logo" style="left:498.485px;top:-2.955px;width:369.029px;height:259.455px;transform:rotate(0.000deg);overflow:hidden;"></div>
  <div class="txt footer-text" style="left:0.000px;top:269.511px;width:1366.000px;height:145.000px;transform:rotate(0.000deg);color:#6a3137;font-family:'canva_YACgEVY5j_w',serif;font-size:20.000px;line-height:1.400;text-align:center;text-transform:none;letter-spacing:-1.560px;font-weight:normal;font-style:normal;white-space:pre-wrap;">{{ w.footer.text | strip }}

<span class="footer-signature">{{ w.footer.signature }}</span>

</div>
</section>
